<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-3.0.xsd
                            http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                            http://www.springframework.org/schema/mvc
                            http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                            http://www.springframework.org/schema/security
            				http://www.springframework.org/schema/security/spring-security-3.1.xsd">



    <bean id="config" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/config.properties</value>
            </list>
        </property>
    </bean>


    <context:component-scan base-package="ua.george_nika.webtester.security"/>
    <context:component-scan base-package="ua.george_nika.webtester.dao.impl.jpa"/>
    <context:component-scan base-package="ua.george_nika.webtester.services"/>
    <context:component-scan base-package="ua.george_nika.webtester.controllers"/>
    <context:component-scan base-package="ua.george_nika.webtester.errors"/>


    <mvc:resources mapping="/resources/**" location="/resources/" />
    <mvc:resources mapping="/favicon.ico" location="/favicon.ico" />

    <mvc:annotation-driven/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/JSP/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:message" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>


    <import resource="security-context.xml"/>
    <import resource="jpa-context.xml"/>
    <import resource="quartz-context.xml"/>
    <import resource="email-context.xml"/>

</beans>

